body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('./assets/fondo-hero.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
}
